<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="keywords" content="{{ with .Keywords }}{{ . }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">

<link rel="canonical" href="{{ .Permalink }}">
<meta name="robots" content="index, follow">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<meta property="og:title" content='{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}'>
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ with .Params.openGraphImage }}{{ . | absURL }}{{ else }}{{ .Site.Params.openGraphImage | absURL }}{{ end }}">
<meta property="og:image:url" content="{{ with .Params.openGraphImage }}{{ . | absURL }}{{ else }}{{ .Site.Params.openGraphImage | absURL }}{{ end }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content='{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}'>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ with .Params.openGraphImage }}{{ . | absURL }}{{ else }}{{ .Site.Params.openGraphImage | absURL }}{{ end }}">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
