{{ $siteLanguages := site.Languages }}
{{ $pageLang := .Page.Lang }}
{{ $pageTranslations := .Page.AllTranslations }}

{{ if gt (len $pageTranslations) 1 }}
<button id="dropdownNavLang" data-dropdown-toggle="dropdown" class="text-white bg-gray-600 hover:bg-gray-700 focus:ring-0 focus:outline-none font-medium rounded-md text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800" type="button">
    {{ range $siteLanguages }}
        {{ if eq .Lang $pageLang }}
            {{ .LanguageName }}
        {{ end }}
    {{ end }}
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
</button>

<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownNavLang">
        {{ range sort $siteLanguages "Weight" "asc" }}
            {{ $lang := .Lang }}
            {{ $translation := "" }}
            {{ range $pageTranslations }}
                {{ if eq .Lang $lang }}
                    {{ $translation = . }}
                {{ end }}
            {{ end }}
            {{ if $translation }}
                <li>
                    {{ if eq $pageLang $lang }}
                        <span class="block px-4 py-2 dark:hover:text-white font-bold">{{ .LanguageName }}</span>
                    {{ else }}
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" href="{{ $translation.RelPermalink }}">{{ .LanguageName }}</a>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}