---
layout: default
title: 遗迹の二次元列车
excerpt: "欢迎搭乘遗迹の二次元列车，我是列车长天空の遗迹。"
---
<div class="index">
	<!-- disqus脚本 -->
	<script type="text/javascript">
		var disqus_shortname = 'soranoiseki'; 
		(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	
	<!-- 经文 -->
	{% include index_bible.html  %}
	
	<!-- 最新文章 -->
	<div class="index_recent_posts">		
		<!-- 最新第一篇文章 -->
		<div class="index_recent_firstpost">
			{% for post in site.posts limit:1 %}
			<div class="index_recent_firstpost_title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate:30 }}</a></div>
			<div class="index_recent_firstpost_meta">
				<span>
					{{ post.date | date: "%Y年%m月%d日 %A " | replace:'Monday','星期一' | replace:'Tuesday','星期二' | replace:'Wednesday','星期三' | replace:'Thursday','星期四' | replace:'Friday','星期五' | replace:'Saturday','星期六' | replace:'Sunday','星期天' | replace:'年0','年' | replace:'月0','月' }}&nbsp;
				</span>
				<span>
					分类：<a href="{{ site.baseurl }}/{{ post.category | downcase }}/">{{ post.category | replace:'blog','博客' | replace:'tech','技术宅' | replace:'music','音乐' }}</a>{{pagetitle}}
				</span>
				<span>
					{% for tag in post.tags %}		
					<img src="{{site.baseurl}}/assets/img/icon_tag.png" />
					<a href="{{site.baseurl}}/{{post.category | downcase}}#{{tag}}">{{tag}}</a>
					{% endfor %}
				</span>			
			</div>
			<div class="index_recent_firstpost_content">
				{{ post.content |  strip_html | strip_newlines | truncate:250 }}
			</div>
			<div class="index_recent_firstpost_postinfo">
				&lt;<a href="{{ site.baseurl }}{{ post.url }}">阅读全文</a>&gt;				
				&lt;<a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" class='disqus-comment-count' data-disqus-url="{{site.url}}{{page.url}}"></a>&gt;
			</div>
			{% endfor %}
		</div>
		
		<div class="clearFloat"></div>
	
		<!-- 专题最新文章 -->
		<div class="index_topic_firstpost">
			<div class="index_topic_firstpost_title"><img src="{{ site.baseurl }}/assets/img/text_index_topic.png"></div>
			{% for category in site.categories %} 
				<div class="index_topic_firstpost_frame">
					{% for post in category[1] limit:1 %}
									
					<div class="index_topic_firstpost_post">
						<div class="index_topic_firstpost_post_title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | truncate:27 }}</a></div>
						<div class="index_topic_firstpost_post_meta">
							<span>专题分类：<a href="{{ site.baseurl }}/{{ post.category | downcase }}/">{{ post.category | replace:'blog','博客' | replace:'tech','技术宅' | replace:'music','音乐' }}</a>{{pagetitle}}</span>
							<span>
								{% for tag in post.tags %}		
								<img src="{{site.baseurl}}/assets/img/icon_tag.png" />
								<a href="{{site.baseurl}}/{{post.category | downcase}}#{{tag}}">{{tag}}</a>
								{% endfor %}
							</span>							
							<span>&raquo; {{ post.date | date: "%Y年%m月%d日" }}</span>
						</div>
						<div class="index_topic_firstpost_post_content">
							{{ post.content | strip_html | strip_newlines | truncate:110 }}
						</div>				
					</div>
					
					
					<div class="clearFloat"></div>				
					{% endfor %}
			</div>
			{% endfor %}
		</div>
	
	</div><!-- 最新文章结束 -->
	
</div><!-- index -->
