body {
	@apply text-base text-gray-800;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

html:lang(zh-CN) body {
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
		"Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC",
		"WenQuanYi Micro Hei", "Heiti SC", "SimSun", "NSimSun", "Roboto",
		Helvetica, Arial, sans-serif;
}

html:lang(zh-TW) body {
	font-family: -apple-system, BlinkMacSystemFont, "PingFang TC",
		"Microsoft JhengHei", "Source Han Sans TC", "Noto Sans CJK TC",
		"WenQuanYi Micro Hei", "Heiti TC", "MingLiU", "PMingLiU", "Roboto",
		Helvetica, Arial, sans-serif;
}