/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
@charset "utf-8";

.header {
	padding:10px 0px 0px 0px;
}
.header a {
	color: #000;
	text-decoration:none;
}
.header_top {
	height:45px;
	padding:0px 30px;
}
.header_menu {
	display:block;
	float:left;
	background:#e5e5e5 url(../img/menu_bg.jpg);
	border-radius: 15px 0px 15px 0;
	-moz-border-radius:0px 10px 0px 10px;
	width:100%;
	height:150px;
	box-shadow:#555 3px 3px 10px;
}
.header_logo {
	float:left;
	height:40px;
	margin-right:20px;
}
.ifie {
	color:#a55;
	font-size:12px;
	width:400px;
	padding-top:5px;
	float:left;
}
.header_social {
	float:right;
}
.header_social li {
	display:inline;
	float:right;
}
.header_social img {
	width:28px;
	margin:3px 3px 0px 3px;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
	
}
.header_social img:hover {
	transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
}
.header_avatar {
	float: right;
	padding:20px 35px 0px 30px;
}
.header_avatar img {
	width:160px;
	border:1px solid #ccc;
	border-radius:10px;
	-moz-border-radius:10px;
	box-shadow:#555 2px 2px 5px;
}
.header_avatar_name {
	margin-left:45px;
	margin-top:5px;
}
.header_avatar_name a:hover {
	color:#800;
}
/*****************************************************************************/
/* 导航菜单
/*****************************************************************************/
.header_navbar {
	float:left;
	position:absolute;
	text-align: left;
	width: 600px;
	height: 130px;
	background: none;
	overflow: hidden;
	margin: 18px 0 0 32px;
}
.header_navbar li {
	display: inline;
	width: 36px;
	height: 36px;
	overflow: hidden;
	margin-right: 8px;
}
.header_navbar_icon img {
	background:#FFF;
	border-radius:18px;
	-moz-border-radius:18px;
	width:36px;
}
.header_navbar_content {
	visibility:hidden;
	position: absolute;
	width: 300px;
	left: 20px;
	top: 46px;
	z-index: 1;
}
.header_navbar_content li {
	display: inline;
	position:absolute;
	width:auto;
	height:auto;
}
.header_navbar_main {
	opacity: 0;
	font-size:32px;
	text-transform:uppercase;
	color:#fff;
	padding-top: 2px;
	top: 12px;
	left: 0px;
}
.header_navbar_sub {
	opacity: 0;
	font-size:18px;
	top: 44px;
	left: 0px;
}
.header_navbar_bg {
	opacity: 0;
	left:-20px;
	z-index: -1;
}
.header_navbar li:hover .header_navbar_content {
	visibility: visible;
}
.header_navbar li:hover .header_navbar_main {
	animation: moveFromLeft 300ms ease-in-out;
	animation-fill-mode: both;
	animation-delay:200ms;
	-webkit-animation: moveFromLeft 300ms ease-in-out;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay:200ms;
	-moz-animation: moveFromLeft 300ms ease-in-out;
	-moz-animation-fill-mode: both;
	-moz-animation-delay:200ms;
	-o-animation: moveFromLeft 300ms ease-in-out;
	-o-animation-fill-mode: both;
	-o-animation-delay:200ms;
}
.header_navbar li:hover .header_navbar_sub {
	animation: moveFromRight 300ms ease-in-out;
	animation-fill-mode: both;
	animation-delay:300ms;
	-webkit-animation: moveFromRight 300ms ease-in-out;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay:300ms;
	-moz-animation: moveFromRight 300ms ease-in-out;
	-moz-animation-fill-mode: both;
	-moz-animation-delay:300ms;
	-o-animation: moveFromRight 300ms ease-in-out;
	-o-animation-fill-mode: both;
	-o-animation-delay:300ms;	
}
.header_navbar li:hover .header_navbar_bg {
	animation: moveFromBottom 300ms ease-in-out;
	animation-fill-mode: both;
	animation-delay:0s;
	-webkit-animation: moveFromBottom 300ms ease-in-out;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay:0s;
	-moz-animation: moveFromBottom 300ms ease-in-out;
	-moz-animation-fill-mode: both;
	-moz-animation-delay:0s;
	-o-animation: moveFromBottom 300ms ease-in-out;
	-o-animation-fill-mode: both;
	-o-animation-delay:0s;
}
@keyframes moveFromLeft {
from {
	opacity: 0;
	transform: translateX(-20px);
}
to {
	opacity: 1;
	transform: translateX(0);
}
}
@-webkit-keyframes moveFromLeft {
from {
	opacity: 0;
	-webkit-transform: translateX(-20px);
}
to {
	opacity: 1;
	-webkit-transform: translateX(0);
}
}
@-moz-keyframes moveFromLeft {
from {
	opacity: 0;
	transform: -moz-translateX(-20px);
}
to {
	opacity: 1;
	transform: -moz-translateX(0);
}
}
@-o-keyframes moveFromLeft {
from {
	opacity: 0;
	transform: -o-translateX(-20px);
}
to {
	opacity: 1;
	transform: -o-translateX(0);
}
}
@keyframes moveFromRight {
from {
	opacity: 0;
	transform: translateX(100px);
}
to {
	opacity: 1;
	transform: translateX(0);
}
}
@-webkit-keyframes moveFromRight {
from {
	opacity: 0;
	-webkit-transform: translateX(100px);
}
to {
	opacity: 1;
	-webkit-transform: translateX(0%);
}
}
@-moz-keyframes moveFromRight {
from {
	opacity: 0;
	-moz-transform: translateX(100px);
}
to {
	opacity: 1;
	-moz-transform: translateX(0%);
}
}
@-o-keyframes moveFromRight {
from {
	opacity: 0;
	-o-transform: translateX(100px);
}
to {
	opacity: 1;
	-o-transform: translateX(0%);
}
}
@keyframes moveFromBottom {
from {
	opacity: 0;
	transform: translateY(50%);
}
to {
	opacity: 1;
	transform: translateY(0%);
}
}
@-webkit-keyframes moveFromBottom {
from {
	opacity: 0;
	-webkit-transform: translateY(50%);
}
to {
	opacity: 1;
	-webkit-transform: translateY(0%);
}
}
@-moz-keyframes moveFromBottom {
from {
	opacity: 0;
	-moz-transform: translateY(50%);
}
to {
	opacity: 1;
	-moz-transform: translateY(0%);
}
}
@-o-keyframes moveFromBottom {
from {
	opacity: 0;
	-o-transform: translateY(50%);
}
to {
	opacity: 1;
	-o-transform: translateY(0%);
}
}