@charset "utf-8";

/*****************************************************************************/
/*
/* site
/*  |- header
/*  |- main
/*  |   |- content
/*  |   |  |- { content }
/*  |   |- sidebar
/*  |- footer
/*
/*****************************************************************************/

/* Global settings */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	width: auto;
	height: 100%;
}
html {
	background: url(../img/bodyBg.jpg) repeat fixed;
	padding: 0 0 1em 0;
}
body {
	margin: 0 auto;
	padding: 0;
	font: 14px \5FAE\8F6F\96C5\9ED1, \534E\6587\9ED1\4F53, Helvetica, Arial, sans-serif;
	text-align: center;
}
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 120%;
}
h1 {
	margin-bottom: 1em;
}
p {
	margin: .6em 0;
}
a {
	color: #000;
}
hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
	margin: 10px 0 8px 0;
}
hr: before {
	display: block;
	content: "";
	height: 30px;
	margin-top: 22px;
}
/*
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote: before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
*/
blockquote {
	background: #f9f9f9;
	border: 1px dashed #666;
	margin: 1em 5px;
	padding: 0 12px;
}
blockquote p {
	display: block;
	color: #030;
}
code {
	font-family: Consolas, "Courier New", \5FAE\8F6F\96C5\9ED1, \534E\6587\9ED1\4F53, Helvetica, Arial, sans-serif;
	display: inline;
	text-align: left;
	font-size: 100%;
	margin: 0 .3em 1.2em 0;
	color: #900;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: normal;
}
pre code {
	display: block;
	text-indent: 0;
	font-family: Consolas, "Courier New", \5FAE\8F6F\96C5\9ED1, \534E\6587\9ED1\4F53, Helvetica, Arial, sans-serif;
	font-size: 85%;
	color: #000;
	line-height: 1.6em;
	border: 1px solid #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #efe;
	padding: .5em 1em;
}
button {
	font: 13px \5FAE\8F6F\96C5\9ED1, \534E\6587\9ED1\4F53, Helvetica, Arial, sans-serif;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}
/*****************************************************************************/
/*
/* SITE
/*  |- header
/*  |- main
/*  |   |- content
/*  |   |  |- { content }
/*  |   |- sidebar
/*  |- footer
/*
/*****************************************************************************/
.site {
	text-align: left;
	min-width: 350px;
	margin: 0 auto 10px auto;
	line-height: 1.75em;
}
.clearFloat {
	clear: both;
	width: 0;
	height: 0;
	font-size: 1px;
	line-height: 0;
}

/*****************************************************************************/
/*
/* site
/*  |- HEADER
/*  |- main
/*  |   |- content
/*  |   |  |- { content }
/*  |   |- sidebar
/*  |- footer
/*
/*****************************************************************************/
.header {
	width: 100%;
	padding: 20px 0 0 0;
	margin: 0 auto;
	border-bottom: 2px solid #eee;
}
.header a {
	color: #2e74b2;
	text-decoration: none;
	text-shadow: #ccc 0 0 8px;
}
.header_content {
	max-width: 840px;
	padding: 0 20px;
	margin: 0 auto;
}
.header_logo {
	float: left;
	margin-right: 30px;
}
.header_menu {
	padding-top: 8px;
	text-align: left;
	float: left;
	font-size: 15px;
}
.header_menu li {
	display: inline;
	margin-right: 8px;
}

.header_social {
	float: right;
	padding-top: 3px;
}
.header_social li {
	display: inline;
	float: right;
}
.header_social img {
	width: 21px;
	margin: 5px 0 0 5px;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	-moz-transition: all 0.2s;
}
.header_social img: hover {
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
}

/*****************************************************************************/
/*
/* site
/*  |- header
/*  |- MAIN
/*  |   |- content
/*  |   |  |- { content }
/*  |   |- sidebar
/*  |- footer
/*
/*****************************************************************************/
.main {
	max-width: 840px;
	clear: both;
	padding: 0 20px;
	margin: 0 auto;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
@media screen and (min-width: 840px) {
	.content {
		width: 78%;
		padding-right: 20px;
		padding-top: 20px;
		float: left;
		border-right: 1px solid #eee;
	}
	.sidebar {
		max-width: 20%;
		float: right;
		margin-top: 25px;
		text-align: center;
	}
}
@media screen and (max-width: 840px) {
	.content {
		width: 100%;
		padding-top: 20px;
	}
	.sidebar {
		display: none;
	}
}
.sidebar li {
	list-style: none;
	margin-bottom: .5em;
}
.sidebar a {
	text-decoration: none;
}
.sidebar img {
	width: 100%;
	box-shadow: #555 0 0 5px;
}
.sidebar_icon {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}
.sidebar_icon: hover {
	transform: translate(5px, 0);
	-webkit-transform: translate(5px, 0);
	-ms-transform: translate(5px, 0);
	-moz-transform: translate(5px, 0);
	-o-transform: translate(5px, 0);
}
.links {
	margin-top: 1.5em;
}
.links li {
	color: #033;
	font-size: 80%;
	width: 150px;
	margin: 0 10px 8px 10px;
	box-shadow: #555 0 0 5px;
	background: url(../img/links.png) no-repeat;
}
.links a: hover {
}
.links img {
	box-shadow: #000 0 0 0;
	margin-bottom: 10px;
}
/*****************************************************************************/
/*
/* site
/*  |- header
/*  |- main
/*  |   |- content
/*  |   |  |- { content }
/*  |   |- sidebar
/*  |- FOOTER
/*
/*****************************************************************************/
.footer {
	width: 100%;
	font-size: 90%;
	color: #666;
	border-top: 4px solid #eee;
	padding: 20px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.footer a {
	color: #800;
	margin: 0 3px;
	text-decoration: none;
}
.footer a: hover {
	text-decoration: underline;
}