---
layout: default
---
<script type="text/javascript">
	$(document).ready(function(){
		$("#goToComment").click(function(){
			$("html,body").animate({scrollTop: $(".ds-thread").offset().top - 115 }, 400);
		});
	});
</script>
<div class="post_title">
	{{ page.title }}	
	<span>
		{% if page.next %}
		&lt;&lt; <a href="{{page.next.url}}">上一篇</a> 
		{% else %}
		&lt;&lt; 这是第一篇
		{% endif %}
		☆ 
		{% if page.previous %}
		<a href="{{page.previous.url}}">下一篇</a> &gt;&gt;
		{% else %}
		这是最后一篇 &gt;&gt;
		{% endif %}
	</span>
</div>
<div class="post_meta">
	<span>		
		{{ page.date | date: "%Y年%m月%d日 %A " | replace:'Monday','星期一' | replace:'Tuesday','星期二' | replace:'Wednesday','星期三' | replace:'Thursday','星期四' | replace:'Friday','星期五' | replace:'Saturday','星期六' | replace:'Sunday','星期天' | replace:'年0','年' |  | replace:'月0','月' | replace:'CET','西欧标准时间' | replace:'CEST','西欧夏令时' }} ++ 
		分类：<a href="{{site.baseurl}}/{{page.categories}}" class="">{{ page.category | replace:'blog','博客' | replace:'tech','技术宅' | replace:'music','音乐' }}</a>
		{% for tag in page.tags%}		
		<img src="{{site.baseurl}}/assets/img/icon_tag.png" />
		<a href="{{site.baseurl}}/{{page.category | downcase}}#{{tag}}">{{tag}}</a>
		{% endfor %}
		<img src="{{site.baseurl}}/assets/img/icon_comments.png" />
		{% capture postid %}{{ page.url | downcase | replace:':','' | replace:'/','' }}{% endcapture %}
		<button type="button" id="goToComment"><span class="ds-thread-count" data-thread-key="{{postid}}" data-count-type="comments"></span></button>
	</span>
</div>
<div class="post_content"> {{ content }} </div>
<div class="post_links">
	<span class="post_links_next">
		{% if page.next %}
		&lt;&lt; <a href="{{page.next.url}}">上一篇：{{page.next.title | truncate:20}}</a> {% else %}
		&lt;&lt; 这是第一篇
		{% endif %} 
	</span> 
	<span class="post_links_pre"> {% if page.previous %} <a href="{{page.previous.url}}">下一篇：{{page.previous.title | truncate:20}}</a> &gt;&gt;
		{% else %}
		这是最后一篇 &gt;&gt;
		{% endif %}
	</span>
	<span class="clearFloat;" /> 
</div>
{% include duoshuo_comment.html  %}