{{ define "main" }}
	<h1>{{ .Title }}</h1>

	<div class="flex flex-nowrap flex-col gap-y-0 sm:flex-row gap-x-2 text-gray-500">
		{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
		{{ $dateHuman := .Date | time.Format ":date_long" }}
		<div>
			<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
		</div>

		<div class="hidden sm:block">|</div>
		
		{{ with .Params.tags }}
		<div class="">
			{{ i18n "tags" }}: 
			{{ range . }}
				<a href='{{ (site.GetPage "section" "tags").RelPermalink }}/{{ . | urlize }}'>{{ . }}</a>
			{{ end }}
		</div>
		{{ end }}
	</div>

	<hr>

	{{ .Content }}

	<a href='{{ (site.GetPage "section" "posts").RelPermalink }}'>{{ i18n "back_to_list" }}</a>

	{{/*  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}  */}}
{{ end }}
