{{ define "main" }}

<h1>
    {{ if .Title }}
        {{ .Title }}
    {{ else }}
        {{ i18n "contact" }}
    {{ end }}
</h1>

{{ .Content }}

{{ $contact := site.Data.contact }}
<section class="contact-section">

    <!-- https://schema.org/LocalBusiness -->
    <div itemscope itemtype="http://schema.org/LocalBusiness">
        <div itemprop="name" class="font-semibold mb-2">{{ $contact.name }}</div>

        <div class="flex flex-col sm:flex-row flex-nowrap gap-4">
            <div class="flex-1">
                <div class="font-semibold">{{ i18n "address" }}</div>
                <address itemscope itemprop="address" itemtype="http://schema.org/PostalAddress" class="leading-6 mb-4">
                    <!-- https://schema.org/PostalAddress -->
                    <div itemprop="streetAddress">{{ $contact.address }}</div>
                    <div class="postalAddress"><span itemprop="postalCode">{{ $contact.postal_code }}</span>
                        <span itemprop="addressLocality">{{ $contact.location }}</span>
                    </div>
                    {{ if $contact.country }}
                        <div class="country" itemprop="addressCountry">{{ $contact.country }}</div>
                    {{ end }}
                </address>
            </div>
            <div class="flex-1">
                <div class="leading-6 mb-4">
                    {{ if $contact.phone }}
                    <div class="phone">
                        <span class="font-semibold">{{ i18n "phone" }}:</span>
                        <a href="tel:+494517098070" title="0451 709 807-0" class="tel">
                            <span itemprop="telephone">{{ $contact.phone }}</span>
                        </a>
                    </div>
                    {{ end }}

                    {{ if $contact.fax }}
                    <div class="fax">
                        <span class="font-semibold">{{ i18n "fax" }}:</span>
                        <span itemprop="faxNumber">{{ $contact.fax }}</span>
                    </div>
                    {{ end }}

                    {{ if $contact.email }}
                    <div class="email">
                        <span class="font-semibold">{{ i18n "email" }}:</span>
                        <span itemprop="email">
                            <a class="mail" title="{{ $contact.email }}" href="mailto:{{ $contact.email }}">
                                {{ $contact.email }}
                            </a>
                        </span>
                    </div>
                    {{ end }}

                    {{ if $contact.website }}
                    <div class="website">
                        <span class="font-semibold">{{ i18n "website" }}:</span>
                        <a href="{{ $contact.website }}" itemprop="url" title="{{ $contact.website }}">
                            {{ $contact.website }}
                        </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
</section>

{{ end }}